apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ .Values.subscriptions.ibmautomation.name }}
  namespace: {{ .Values.subscriptions.ibmautomation.namespace }}
  annotations:
spec:
  {{- toYaml .Values.subscriptions.ibmautomation.subscription | nindent 2 }}

